/*
1. El cos de la pàgina tindrà la imatge de fons
*/
body {
    background-image: url('backgrounds/fons.png');
    font-family: 'Liberation Sans', Arial, sans-serif;
    line-height: 130%;
    color: #615041;
}

/*
2. Qualsevol div de la pàgina tindrà el fons de color blanc amb una opacitat del 90%.
*/
div {
    background-color: rgba(255, 255, 255, 0.9);
}

/*
3. La div amb id capsalera tindrà el text alineat al centre.
*/
#capsalera {
    text-align: center;
}

/*
4. Els encapçalaments de primer, segon i tercer nivell
*/
h1, h2, h3 {
    letter-spacing: -0.05em;
    font-weight: normal;
    color: #FF8A46;
    text-transform: uppercase;
}

/*
5. Elements de llista no ordenada
*/
ul {
    list-style-type: square;
}

/*
6. Els enllaços
*/
a {
    color: #635240;
    text-decoration: none;
}

/*
7. Encapçalaments de primer nivell de la classe titol
*/
h1.titol {
    font-size: 52px;
    line-height: 150%;
}

/*
8. Encapçalament de tercer nivell amb id macaroon
*/
#macaroon {
    text-align: right;
}

/*
9. Paràgrafs de la classe subtitol dins de capsalera
*/
#capsalera p.subtitol {
    font-style: italic;
}

/*
10. Ratolí a sobre dels enllaços de la llista dins de id index
*/
#index ul li a:hover {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 150%;
    background-color: #A54440;
}

/*
11. Elements de llista dins de la div amb id index (imatge boto vermell.png)
*/
#index ul li {
    list-style-image: url('buttons/boto vermell.png');
}

/*
12. Span dins de paràgrafs a continguts
*/
#continguts p span {
    background-color: #EADAC3;
    font-weight: bold;
}

/*
13. Ratolí per sobre d'un span dins d'una div
*/
div span:hover {
    text-decoration: underline;
}
